.my-css-container-tillpoint .receipt-container {
    /* width: 50px; */
    /* height: 50px; */
    font-size: 18px;
    font-weight: 600;
    /* padding: 10px; */
    /* margin: 20px; */
}

.my-css-container-tillpoint .receipt-header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-css-container-tillpoint .receipt-header {
    margin-top: 10px;
}

.my-css-container-tillpoint .receipt1 {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 20px;
}

.my-css-container-tillpoint .receipt11 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.my-css-container-tillpoint .receipt111 {
    margin-left: 50px;
    margin-right: 50px;
}

.my-css-container-tillpoint .receipt-table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-css-container-tillpoint .receipt-table-header {
    width: 20%;
}

.my-css-container-tillpoint .receipt-rows-container {
    margin-top: 2px;
}

.my-css-container-tillpoint .receipt-rows-items {
    text-align: center;
}

.my-css-container-tillpoint .receipt-footer {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}